<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="">
    First Name:
    <input type="text" formControlName="firstName" required>
  </label>
  <label for="">
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <div formGroupName="address">
    <h3>Address</h3>
    <label for="">
      Addres 1:
      <input type="text" formControlName="street">
    </label>
    <label for="">
      Addres 2:
      <input type="text" formControlName="city">
    </label>
    <label for="">
      State:
      <input type="text" formControlName="state">
    </label>
    <label for="">
      zip:
      <input type="text" formControlName="zip">
    </label>
  </div>
  <div formArrayName="aliases">
    <h3>Aliases</h3>
    <button (click)="addAlias()" type="button">Add Alias</button>
    <div *ngFor="let alias of aliases.controls; let i=index">
      <app-alias [control]="alias" [index]="i" (deleteAlias)="deleteAlias($event)">
      </app-alias>
    </div>
  </div>
  <div formArrayName="cars">
    <h3>cars</h3>
    <button (click)="addCars()" type="button">Add cars</button>

    <div *ngFor="let car of cars.controls; let i=index">
      <app-cars [group]="car" [index]="i" (delete)="deleteCar($event)">
      </app-cars>

    </div>
  </div>
  <app-celulars
       [form]="form"
  >
  </app-celulars>
  <br>
  <button type="submit" [disabled]="!form.valid">
    Submit
  </button>
  <p>
    <button (click)="updateProfile()" type="button">Update Profile</button>
  </p>
  <p>
    Form value: {{formValue | json}}
    Form status: {{form.status}}
  </p>
</form>
